<div class="alert alert-danger fade in" style="display:none;">
	<strong></strong>
</div>

<div class="form-group">
	<div><%= label_tag(:volume, "Quantidade (mL)") %></div>
	<div><%= number_field_tag :volume, "", class: 'form-control', placeholder: '1000' %></div>
</div>
<div class="form-group">
	<%= label_tag(:alcoholicPercentage, "Teor Alcóolico (%)") %>
	<%= number_field_tag :alcoholicPercentage, "", class: 'form-control', placeholder: '38' %>
</div>
<div class="form-group">
	<%= label_tag(:price, "Preço (R$)") %>
	<%= number_field_tag :price, "", class: 'form-control', placeholder: '35' %>
</div>
<div class="center-container">
	<%= button_tag("Calcular", :id => "calculate-button", :class => "btn btn-success btn-lg") %>
</div>

<h2 id="price-per-ml"></h2>