<div class="form-group">
	<%= label_tag(:volume, "Volume") %>
	<%= text_field_tag :volume, "", class: 'form-control' %>
</div>
<br>
<div class="form-group">
	<%= label_tag(:alcoholicPercentage, "Teor Alcóolico") %>
	<%= text_field_tag :alcoholicPercentage, "", class: 'form-control' %>
</div>
<br>
<div class="form-group">
	<%= label_tag(:price, "Preço") %>
	<%= text_field_tag :price, "", class: 'form-control' %>
</div>
<br>
<%= button_tag("Calcular", :id => "calculate_button", :class => "btn btn-success") %>

<div id="pricePerML"></div>