<!-- <form>
	Volume <input type="text"> mL
	<br>
	Teor alcóolico <input type="text"> %
	<br>
	Preço R$<input type="text"> 
	<br>
	<input type="submit" value="Calcular">
</form> -->

<%= label_tag(:volume, "Volume") %>
<%= text_field_tag(:volume) %>
<br>
<%= label_tag(:alcoholicPercentage, "Teor Alcóolico") %>
<%= text_field_tag(:alcoholicPercentage) %>
<br>
<%= label_tag(:price, "Preço") %>
<%= text_field_tag(:price) %>
<br>
<%= button_tag("Calcular", :id => "calculate_button", :class => "btn-success") %>

<div id="pricePerML"></div>